html{
  background-color: rgb( 52, 73, 94  );
}

body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.contenedor{
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.cont{
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.3;
}

h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.2;
}

p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.2;
}

h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.2;
  margin: 3.2rem 25rem;
}

img{
  max-width: 100%;
}

h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 3.5rem;
  line-height: 1.2;
}